extends ../../layouts/main.pug

block main
  main
    h1 Invention, Intellectual Property and Business Models.
    h2 Invention
    p I don't think I can claim invention neither of the idea or the final development... As for the former, a dark container to shoot photos is nothing new. Neither is it the idea of using changing LEDs to create light painting, even if in different formats. As for the final developments, other people have contributed ideas when bouncing thoughts and challanges. As a lone, semi-remote Fab Academy student this has been very valuable.

    h2 Intellectual Property
    p I've learnt so much from other people and sources, both during the Fab Academy as in life in general, that I can only think of humbly contributing back with everything on this website. 
    p I used the <a href="https://creativecommons.org/choose/">Creative Commons license tool</a> to choose a license that suits these purposes, ending up with the Attribution / Non-commercial license.
    
    p All content and files are therefore free (as in both beer and speech) to use and modify in non-commercial projects, linking back so everybody can follow the breadcrum to my sources amd so on and so forth. 

    p I hope this is particularly useful for any new Fab Academy students in the future.

    h2 Project Dissemination
    p In addition to linking back to this website on other platforms, 
    p Being a teacher in related fields, I can use the project in different classes to demonstrate different concepts, from UI to project development to validation strategies, etc. 
    p The project itself can stay on the University for anyone to explore, and since it's completely portable, it can be taken into any class or to any get together.
    p I would also love to share it with kids in a more informal context and show them how making things is fun and probably easier than they think :)

    h2 Future Possibilities
    p One thing I've thinking about is having interchangable spinning frames that produce different light patterns. It'd be great if this would be a very plug'n'play solution.
    p More over, it'd be nice if each specific frame would come with its own set of programs.
    p There could also be some sort of community that wrote different programs that could be loaded into the machine.

    h2 Business Models
    p Perhaps that could be an approach: sell the box with a basic spinning frame, and then sell independent frames that make different light patterns and come with different programs. 
    p Even different boxes with differnt sizes and shooting angles would make for interesting and valuable pieces of gear.

    h2 Slide and video
    img(src="../presentation.png", alt="")
    p Source file: <a href="http://fabacademy.org/2020/labs/esne/students/rafael-rebolleda/presentation.png">presentation.png</a>

    video(src="../presentation.mp4" poster="../FP/poster.jpg" controls)
    p Source file:  <a href="http://fabacademy.org/2020/labs/esne/students/rafael-rebolleda/presentation.mp4">presentation.mp4</a>

    p The video is also up on Vimeo for easy sharing and dissemination:
    <iframe src="https://player.vimeo.com/video/446303444" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>


