extends ../../layouts/main.pug

block main
  main
    h1 W16: Wildcard Week: Waterjet cutting
    p In the wildcard week I wanted to experiment with cutting harder materials, like stainless steel. Fortunately the FabLab had just acquiered a <a href="https://www.wazer.com/">Wazer desktop waterjet cutter</a>, so I thought I'd give that a try.
    img(src="wjc_1.jpg", alt="")
    h2 The idea
    p A pickguard is typically made out layered plastic, and serves as support for electonics, to protect a guitar's body paintjob and wood and to give teh guitar a personality. Here's a classic Fender Stratocaster with a white pickguard:
    img(src="https://www.fmicassets.com/Damroot/ZoomJpg/10001/0144503506_gtr_cntbdyright_001_nr.jpg", alt="")

    p I thought I could make myself a Strat pickguard stencil that I could later use as a template with softer materials or even paper blueprints.


    h2 Files
    ul
        li: a(href="pickguard.pdf") Pickguard (Illustrator PDF) 
        li: a(href="pickguard.svg") Pickguard (SVG) 
        li: a(href="pickguard.dxf") Pickguard (AutoCAD DXF) 

