extends ../../layouts/main.pug

block main
  main
    h1 W16: Wildcard Week: Waterjet cutting
    p In the wildcard week I wanted to experiment with cutting harder materials, like stainless steel. Fortunately the FabLab had just acquiered a <a href="https://www.wazer.com/">Wazer desktop waterjet cutter</a>, so I thought I'd give that a try.
    img(src="wjc_1.jpg", alt="")
    h2 The idea
    p A pickguard is typically made out layered plastic, and serves as support for electonics, to protect a guitar's body paintjob and wood and to give teh guitar a personality. Here's a classic Fender Stratocaster with a white pickguard:
    img(src="https://www.fmicassets.com/Damroot/ZoomJpg/10001/0144503506_gtr_cntbdyright_001_nr.jpg", alt="")

    p I thought I could make myself a Strat pickguard stencil that I could later use as a template with softer materials or even paper blueprints.

    h2 The design
    p I went for a stock pickguard for single coils, with no modifications. This would be easy to find and trace and would be useful in many models.
    img(src="wjc_2.jpg", alt="")

    p The Wazer only takes DXF files, so I had to go through AutoCAD. Oddly enough, AtuoCAD drew some very rough curves (see circles for holes), and I had to "soften" them again there:
    img(src="wjc_3.jpg", alt="")
    img(src="wjc_4.jpg", alt="")

    h2 Preparing the stock
    p I would be using 1mm thick stainless steel cut from a long sheet.
    img(src="wjc_5.jpg", alt="")

    p The sheet covers all the cutting area in the Wazer
    img(src="wjc_6.jpg", alt="")

    p Fixing the stock to the bed with screws surrounding the stock.
    img(src="wjc_7.jpg", alt="")

    p The Wazer comes with a piece of plastic to zero-in on Z-axis:
    img(src="wjc_8.jpg", alt="")

    p Finally, check there's enough abrasive loaded:
    img(src="wjc_9.jpg", alt="")

    h2 Configuring the Wazer for cutting
    p I have to say the Wazer's software is fairly basic and stripped-down, compared to what I've experienced in CCM.
    p Once the file is imported through the web interface, the first thing to is to position it on the bed. Since I put a stock that covers the whole bed, this wasn't much of an issue. I found it surprising though that there see to be no option to zero the head, and all that's left for smaller parts is the grid that matches the bed, represented by white lines.
    img(src="wjc_10.jpg", alt="")

    p Next, the Wazer asks for the material. In this cases 1mm stainless steel:
    img(src="wjc_11.jpg", alt="")

    p There's an option to choose the cutting path. For my purposes, stright on top was fine.
    img(src="wjc_12.jpg", alt="")

    p The software allows for automatic or manual tab placement. I ended up not using tabs after all, as they seemed too complicated to remove from such a hard stock.
    img(src="wjc_13.jpg", alt="")

    p Finally, thw Wazer allows for different cutting quality levels. I went with fine as the estimated job time difference wasn't that much. 
    img(src="wjc_14.jpg", alt="")

    h2 Cutting the piece
    p As it's often the case, I had to cut several times to fnish the piece, as there's <em>always</em> something that comes up.
    video(src="wjc_0.mp4", autoplay muted controls loop)
    video(src="wjc_16.mp4", autoplay muted controls loop)
    video(src="wjc_15.mp4", autoplay muted controls loop)

    h3 Running out of abrasive
    p The first run was going alright, but eventually the Wazer ran out of abrasive. I'm surprised it didn't stop this time around, as this happened again in another run and I had the chance to fill it in. In this case, however, it continued to cut with actually cutting, so I ended up cancelling the process.
    p In that image I also saw the tab size, and that's why I ended up removing them from the cutting process, especially with the regards to the holes.
    img(src="wjc_17.jpg", alt="")

    h3 Misplacing the stock
    p For the following run I tried to cut a smaller stock and eyeball its position based on the cut marks and the grid on the bed. The image speaks for itself :D
    
    img(src="wjc_18.jpg", alt="")

    p This run however gave me the opportunity to come across another issue that may arise during the cutting process.
    img(src="wjc_19.jpg", alt="")

    h3 The thrid time's the charm
    p I cut another piece of stock, this time filling again the whole bed.
    video(src="wjc_20.mp4", autoplay muted controls loop)

    p The Wazer does eat a lot of abrasive. This time around I did get a message and had the opportunity to refill and continue:
    img(src="wjc_21.jpg", alt="")
    img(src="wjc_22.jpg", alt="")

    p After that hiccup, the cut was completed with no further issues:
    video(src="wjc_23.mp4", autoplay muted controls loop)

    p The estimated cut time was very close to reality:
    img(src="wjc_24.jpg", alt="")

    p The bed ends up pretty dirty, but it's easy to clean with water
    img(src="wjc_25.jpg", alt="")
    
    h2 The final piece
    img(src="wjc_26.jpg", alt="")

    h2 Files
    ul
    
        li: a(href="pickguard.pdf") Pickguard (Illustrator PDF) 
        li: a(href="pickguard.svg") Pickguard (SVG) 
        li: a(href="pickguard.dxf") Pickguard (AutoCAD DXF) 

