extends ../../layouts/main.pug

block main
  main
    h1 W16: Wildcard Week: Waterjet cutting
    p In the wildcard week I wanted to experiment with cutting harder materials, like stainless steel. Fortunately the FabLab had just acquiered a <a href="https://www.wazer.com/">Wazer desktop waterjet cutter</a>, so I thought I'd give that a try.
    img(src="wjc_1.jpg", alt="")
    h2 The idea
    p A pickguard is typically made out layered plastic, and serves as support for electonics, to protect a guitar's body paintjob and wood and to give teh guitar a personality. Here's a classic Fender Stratocaster with a white pickguard:
    img(src="https://www.fmicassets.com/Damroot/ZoomJpg/10001/0144503506_gtr_cntbdyright_001_nr.jpg", alt="")

    p I thought I could make myself a Strat pickguard stencil that I could later use as a template with softer materials or even paper blueprints.

    h2 The design
    p I went for a stock pickguard for single coils, with no modifications. This would be easy to find and trace and would be useful in many models.
    img(src="wjc_2.jpg", alt="")

    p The Wazer only takes DXF files, so I had to go through AutoCAD. Oddly enough, AtuoCAD drew some very rough curves (see circles for holes), and I had to "soften" them again there:
    img(src="wjc_3.jpg", alt="")
    img(src="wjc_4.jpg", alt="")

    h2 Preparing the stock
    p I would be using 1mm thick stainless steel cut from a long sheet.
    img(src="wjc_5.jpg", alt="")

    p The sheet covers all the cutting area in the Wazer
    img(src="wjc_6.jpg", alt="")

    p Fixing the stock to the bed with screws surrounding the stock.
    img(src="wjc_7.jpg", alt="")

    p The Wazer comes with a piece of plastic to zero-in on Z-axis:
    img(src="wjc_8.jpg", alt="")

    p Finally, check there's enough abrasive loaded:
    img(src="wjc_9.jpg", alt="")

    h2 Configuring teh Wazer for cutting




    h2 Files
    ul
        li: a(href="pickguard.pdf") Pickguard (Illustrator PDF) 
        li: a(href="pickguard.svg") Pickguard (SVG) 
        li: a(href="pickguard.dxf") Pickguard (AutoCAD DXF) 

