/* The most basic CSS Reset ever
 ********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
nav {
  position: absolute;
  width: 270px;
  height: 100%;
  padding: 20px 20px 20px 50px;
  background: #e9e9e9 url("../images/lines.gif") repeat-y;
}
nav header img#avatar {
  float: left;
  width: 60px;
  margin-right: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
}
nav header ul {
  list-style-type: none;
}
nav header ul li:first-child {
  font-weight: bold;
  font-size: 14px;
}
nav header ul li {
  position: relative;
  top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
nav header p.bio {
  clear: both;
  margin-top: 20px;
}
nav h1 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}
nav ol {
  clear: both;
  margin-top: 25px;
  list-style-type: none;
  width: 290px;
}
nav ol li {
  position: relative;
  left: -33px;
  margin-bottom: 30px;
  transform: rotate(-1deg);
}
nav ol li a {
  padding: 5px 15px;
  text-decoration: none;
  background-color: #ec0;
  color: #3c3744;
  text-transform: capitalize;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 3px 3px 1px #3c3744;
}
nav ol li a.red {
  color: #fff;
  background-color: #f2545b;
}
nav ol li a.blue {
  color: #fff;
  background-color: #00b5ac;
}
main,
footer {
  width: 700px;
  margin-left: 270px;
  padding: 20px 40px;
  background: url("../images/pixels.gif") repeat-y;
}
main a,
footer a {
  color: #f2545b;
  text-decoration: none;
}
main h1,
footer h1 {
  margin: 30px 0 15px 0;
  color: #00b5ac;
}
main h1:first-of-type,
footer h1:first-of-type {
  margin-top: 0;
}
main h2,
footer h2 {
  margin: 20px 0 10px 0;
  color: #f2545b;
}
main h3,
footer h3 {
  margin: 15px 0 10px 0;
}
main p,
footer p {
  margin: 15px 0 10px 0;
  line-height: 150%;
}
main code,
footer code {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #eee;
}
main ul,
footer ul,
main ol,
footer ol {
  margin: 10px 0 20px 40px;
}
main ul li,
footer ul li,
main ol li,
footer ol li {
  margin-bottom: 7px;
  line-height: 170%;
}
main div.checklist,
footer div.checklist {
  margin-top: 40px;
  padding: 2px 20px 20px 20px;
  background-color: #fdfda5;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #999;
}
main div.checklist ol,
footer div.checklist ol {
  list-style-type: none;
  margin: 20px 0 0 15px;
}
main div.checklist ol li:before,
footer div.checklist ol li:before {
  content: "\2610";
  padding-right: 5px;
  font-size: 18px;
}
main div.checklist ol li.done:before,
footer div.checklist ol li.done:before {
  content: "\2714";
  padding-right: 5px;
  color: #73c991;
}
main div.checklist ol li.scrapped:before,
footer div.checklist ol li.scrapped:before {
  content: "\2717";
  padding-right: 5px;
  color: #cc3e44;
}
main ol.checklist,
footer ol.checklist {
  list-style-type: none;
  margin: 20px 0 0 15px;
}
main ol.checklist li:before,
footer ol.checklist li:before {
  content: "\2610";
  padding-right: 5px;
  font-size: 18px;
}
main ol.checklist li.done:before,
footer ol.checklist li.done:before {
  content: "\2714";
  padding-right: 5px;
  color: #73c991;
}
main ol.checklist li.scrapped:before,
footer ol.checklist li.scrapped:before {
  content: "\2717";
  padding-right: 5px;
  color: #cc3e44;
}
main img,
footer img,
main video,
footer video {
  width: 650px;
  margin-bottom: 20px;
}
footer hr {
  display: block;
  border-width: 1px;
  margin: 20px 0 50px 0;
}
footer img {
  width: auto;
  height: auto;
}
