// A few vars
$rwd-breakpoint = 980px
$handheld = "screen and (max-width: " + $rwd-breakpoint + ")"
$desktop = "screen and (min-width: " + $rwd-breakpoint + ")"

// Color palette
$trans_white = rgba(255, 255, 255, 0.7)
$grey = #3C3744
$blue = #00B5AC
$yellow = #EECC00
$red = #F2545B


// Foundation
/* The most basic CSS Reset ever
 ********************************/
*
  margin: 0
  padding: 0
  box-sizing: border-box

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block

body 
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px

nav 
  position: fixed
  width: 270px 
  height: 100%
  padding: 20px 20px 20px 50px 
  background: #E9E9E9 url("../images/lines.gif") repeat-y

  header 
    img#avatar 
      float: left
      width: 60px
      margin-right: 10px
      border-radius: 7px
      border: 1px solid #CCC

    ul 
      list-style-type: none

      li:first-child 
        font-weight: bold
        font-size: 14px

      li 
        position: relative
        top: 5px
        margin-bottom: 5px
        font-size: 12px

    p.bio 
      clear: both
      margin-top: 20px
  ol 
    clear: both
    margin-top: 25px
    list-style-type: none
    width: 270px

    li 
      display: inline-block
      position: relative
      left: -33px
      padding: 5px 25px
      margin-bottom: 30px
      background-color: $yellow
      color: $grey
      text-transform: capitalize
      transform: rotate(-1deg)
      font-family:'Courier New', Courier, monospace
      font-weight: bold;
      font-size: 16px
      box-shadow: 3px 3px 1px

      a
        color: $grey
        text-decoration: none


main
  width: 700px
  margin-left: 270px
  padding: 20px 40px
  background: url("../images/pixels.gif") repeat-y

  a
    color: $red
    text-decoration: none

  h1 
    margin: 30px 0 15px 0
    color: $blue

  h1:first-of-type 
    margin-top: 0

  h2 
    margin: 20px 0 10px 0
    color: $red

  p 
    margin-bottom: 10px
    line-height: 150%

  ul 
    margin: 10px 0 20px 40px

    li 
      margin-bottom: 7px
      line-height: 170%

  img 
    width: 650px
    margin-bottom: 20px
