doctype html
html(lang="en")

head
  meta(charset="utf-8")
  meta(content="IE=edge", http-equiv="X-UA-Compatible")
  meta(content="width=device-width, initial-scale=1", name="viewport")

  block title
    title  Rafael Rebolleda — Fab Academy 2020 Documentation

  // Google Fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Catamaran&display=swap")

  link(rel="stylesheet", href="../css/main.css")

body 

  block sidebar
    nav
      header
        img#avatar(src="../images/rrm.jpg", alt="Rafael Rebolleda")
        ul
          li Rafael Rebolleda
          li ESNE + LEON
          li Madrid, Spain

        p.bio Human Centric Research & Innovation consultant and professor. Also looking for PhD opportunities!

      ol
        li: a.red(href="../") About me
        li: a.blue(href="../DEV/") Project Development

      h1 Assignments
      
      ol  
        li: a(href="../W1/") Principles & Practices
        li: a(href="../W2/") Computer Aided Design
        li: a(href="../W3/") Computer Controlled Cutting
        li: a(href="../W4/") Electronics Production
        li: a(href="../W5/") 3D Scan + Printing
        li: a(href="../W6/") Electronics Design
        li: a(href="../W7/") Computer Controlled Machining
        //- li: a(href="#") Embedded Programming
        //- li: a(href="#") Input Devices      
        //- li: a(href="#") Applications and Implications
        //- li: a(href="#") Output Devices
  block main

  block footer