// A few vars
$rwd-breakpoint = 980px
$handheld = "screen and (max-width: " + $rwd-breakpoint + ")"
$desktop = "screen and (min-width: " + $rwd-breakpoint + ")"

// Color palette
$trans_white = rgba(255, 255, 255, 0.7)
$grey = #3C3744
$blue = #00B5AC
$yellow = #EECC00
$red = #F2545B


// Foundation
/* The most basic CSS Reset ever
 ********************************/
*
  margin: 0
  padding: 0
  box-sizing: border-box

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block

body 
  position: relative
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px

nav 
  position: absolute
  width: 270px 
  height: 100%
  padding: 20px 20px 20px 50px 
  background: #E9E9E9 url("../images/lines.gif") repeat-y
  

  header 
    img#avatar 
      float: left
      width: 60px
      margin-right: 10px
      border-radius: 7px
      border: 1px solid #CCC

    ul 
      list-style-type: none

      li:first-child 
        font-weight: bold
        font-size: 14px

      li 
        position: relative
        top: 5px
        margin-bottom: 5px
        font-size: 12px

    p.bio 
      clear: both
      margin-top: 20px
  h1
    text-transform: uppercase
    font-size: 16px
    font-family: 'Courier New', Courier, monospace
  ol 
    clear: both
    margin-top: 25px
    list-style-type: none
    width: 290px

    li 
      position: relative
      left: -33px
      margin-bottom: 30px
      transform: rotate(-1deg)

      a
        padding: 5px 15px
        text-decoration: none
        background-color: $yellow
        color: $grey
        text-transform: capitalize
        font-family:'Courier New', Courier, monospace
        font-weight: bold;
        font-size: 14px
        box-shadow: 3px 3px 1px $grey
      
      a.red
        color: white
        background-color: $red 

      a.blue
        color: white
        background-color: $blue 



main
  width: 700px
  margin-left: 270px
  padding: 20px 40px
  background: url("../images/pixels.gif") repeat-y

  a
    color: $red
    text-decoration: none

  h1 
    margin: 30px 0 15px 0
    color: $blue

  h1:first-of-type 
    margin-top: 0

  h2 
    margin: 20px 0 10px 0
    color: $red
  
  h3 
    margin: 15px 0 10px 0

  p 
    margin: 15px 0 10px 0
    line-height: 150%
  
  code
    display: block
    margin: 10px 0
    padding: 10px
    background-color: #EEE
    
  ul, ol 
    margin: 10px 0 20px 40px

    li 
      margin-bottom: 7px
      line-height: 170%

  div.checklist
    margin-top: 40px
    padding: 2px 20px 20px 20px
    background-color: #FDFDA5
    border-radius: 10px
    box-shadow: 5px 5px 5px #999

    ol
      list-style-type: none
      margin: 20px 0 0 15px

      li:before
        content: "\2610";
        padding-right: 5px
        font-size: 18px

      li.done:before
        content: "\2714";
        padding-right: 5px
        color: #73C991

      li.scrapped:before
        content: "\2717";
        padding-right: 5px
        color: #CC3E44
   
  img, video 
    width: 650px
    margin-bottom: 20px
