extends ../../layouts/main.pug

block main
  main
    h1 W15: Molding & Casting

    h2 Materials to explore
    p For this assignment I wanted to experiment with concrete and epoxy, as I'm intested in both materials for different reasons: I would like to further play around with concrete in the context of furniture and epoxy could come in handy for my musical devices endeavours.

    h2 Making the positive
    h3 Designing the piece
    p I devised a paperwieight of sorts to try out different shapes, and quickly modeled it on <a href="https://www.shapr3d.com/">Shapr3D</a>:
    img(src="pw_1.jpg", alt="")

    p It probably is obvious to the experienced eye, but I learned throughout the assignment that this piece had a number of design flaws that would later impact the development of the negative and positive: some walls are too thin and some cavities are too small. 

    h3 3D Printing
    p This process was a bit long but fairly straight-forward. I put a bit of plaster all around to make the surface smoother:
    img(src="pw_2.jpg", alt="")

    h2 Making the negative
    h3 Materials
    
    p With the pandemic still going strong, resource availability was still an issue, so I used the following two-component silicon mostly because I could get my hands on it on time:
    img(src="pw_3.jpg", alt="")

    h3 The container box
    p I made in AutoCAD a simple box out, which was then laser-cut out of plexiglass and glued with chroloform. In it I'll place the 3D-printed model and later drop the silicon.
    p Here's the design:
    img(src="box_1.jpg", alt="")
    
    p And the set up for the laser cutter:
    img(src="box_2.jpg", alt="")

    video(src="box_3.mp4" autoplay loop controls muted)

    p Now we're ready to create the negative.
    img(src="pw_4.jpg", alt="")

    h3 The silicon negative
    
    p This silicon is made out of two components mixed in equal parts, and it cures in a few hours, although I let it rest for a day.
    video(src="pw_5.mp4" autoplay loop controls muted)

    p I begin to see that this feature will be complicated to replicate with this technique:
    img(src="pw_6.jpg", alt="")

    p The next day it's ready to be removed:
    img(src="pw_7.jpg", alt="")
    video(src="pw_8.mp4" autoplay controls loop muted)

    img(src="pw_9.jpg", alt="")

    p As foreseen, these slots were too thin for this technique. I didn't have time to order more silicon, so I took the learning and moved forward with the process.
    img(src="pw_10.jpg", alt="")

    h2 Casting with concrete
    h3 Dropping the material
    p I prep the containter box again to hold the mould in place and shape while the concrete is poured.
    img(src="pw_11.jpg", alt="")

    p Then it's about mixing the concrete with a bit of sand and water:
    video(src="pw_12.mp4" autoplay loop muted controls)
    
    p And finally applying it to the mould:
    img(src="pw_13.jpg", alt="")
    img(src="pw_14.jpg", alt="")

    h3 Removing the material
    p A day later the concrete is dry and ready to be removed:
    img(src="pw_15.jpg", alt="")
    img(src="pw_16.jpg", alt="")
    video(src="pw_17.mp4" autoplay loop muted controls)
    img(src="pw_18.jpg", alt="")

    p Unfortunately, I broke one of the walls when pulling the piece out of the mold.

    img(src="pw_19.jpg", alt="")
    
    h3 A couple other tries
    p I tried once again, preparing the box with the mold and mixing new concrete, this time around with a bit less sand in the mix.
    p However, I made another mistake. As we can see, I was not careful enough to push the concrete down to the bottom of the mold: 
    img(src="pw_20.jpg", alt="")

    p So I went for another try, also with a bit of a different mixtures. Not only did I make sure to force the concrete down the mold, but I also made a small metal grid to reinforce the thin wall:
    img(src="pw_21.jpg", alt="")
    img(src="pw_22.jpg", alt="")

    p This didn't quite work either, and the wall ended up a bit fragmented. So, all in all, none of the concrete tries worked out, I think mostly because a design flaw from the get go. 
    img(src="pw_23.jpg", alt="") 

    p All of this was good learning with concrete. However, I couldn't go back to the drawing board and mold a new positive, as COVID constraint didn't allow for ordering more silicon and accesss the lab in time. So I moved on to epoxy.

    h2 Molding with epoxy
    h3 The material
    p Once again, my choice of material came down to whatever I could get my hands on fast. In this case it was the particularity was that the mix was a 100:60 ratio, on weight.
    img(src="pw_24.jpg", alt="")

    p First thing was clean the mold and apply some grease to ease the removal of the positive piece.
    img(src="pw_25.jpg", alt="")

    p Then came the mixing. In hindsight, I think I should have more precise with the ratios and spend more time mixing both components. I did this a bit too quickly and I feel it impacted the result, as we'll see.
    img(src="pw_26.jpg", alt="")
    video(src="pw_27.mp4" autoplay controls muted loop)

    p This is the result when the epoxy fully cured the next day:
    img(src="pw_28.jpg", alt="")

    h3 Removing the material
    video(src="pw_29.mp4" autoplay controls muted loop)
    img(src="pw_30.jpg", alt="")
    
    p I was surprised to find that the silicon was fairly delicate, and with all the strain from the concrete it was ready to give in. Also, maybe I should have been more generous applying grease:
    img(src="pw_31.jpg", alt="")

    P I used one of these screws to remove the remaining pieces of silicon:
    img(src="pw_32.jpg", alt="")

    p I believe this translucent color is due to a not-perfect blend of components. I also thought, after the fact, that it might have been better to pour the epoxy in 2cm-thick layers, and maybe that would've worked (or looked) better.
    img(src="pw_33.jpg", alt="")

    h2 Final result
    p Despite the challenges, the paperweight came out pretty good :)
    img(src="pw_34.jpg", alt="")

    h3 Learnings
    p All in all, I had many challenges throughout the process. The time and resource constraints of the pandemic didn't allow for many tries, but perhaps the biggest learning is that it's hard to fix a design flaw after the fact. In an ideal situation, I would've gone back to the design, print and mold a new piece and go back to production. 

    h2 Files
    ul
      li <a href="paperweight.stl">3D Model (STL)</a>
      li <a href="box.dxf">Container Box (AutoCAD DXF)</a>
