extends ../../layouts/main.pug

block main
  main
    h1 W15: Molding & Casting

    h2 Materials to explore
    p For this assignment I wanted to experiment with concrete and epoxy, as I'm intested in both materials for different reasons: I would like to further play around with concrete in the context of furniture and epoxy could come in handy for my musical devices endeavours.

    h2 The positive
    h3 Designing the piece
    p I devised a quick paperwieight of sorts to try out different shapes, and quickly modeled it on <a href="https://www.shapr3d.com/">Shapr3D</a>:
    img(src="pw_1.jpg", alt="")

    p It probably is obvious to the experienced eye, but I learned throughout the assignment that this piece had a number of design flaws that would later impact the development of the negative and positive: some walls are too thin and some cavities are too small. 

    h3 3D Printing
    p This process was a bit long but fairly straight-forward. I put a bit of plaster all around to make the surface smoother:
    img(src="pw_2.jpg", alt="")

    h2 The negative
    h3 Materials
    
    p Witrh the pandemic still going strong, resource availability was still an issue, so I used the following two-component silicon mostly because I could get my hands on it on time:
    img(src="pw_3.jpg", alt="")

    h3 The container box
    p I made in AutoCAD a simple box out, which was then laser-cut out of plexiglass and glued with chroloform. In it I'll place the 3D-printed model and later drop the silicon.
    p Here's the design:
    img(src="box_1.jpg", alt="")
    
    p And the set up for the laser cutter:
    img(src="box_2.jpg", alt="")

    video(src="box_3.mp4" autoplay loop controls muted)

    p Now we're ready to create the negative.
    img(src="pw_4.jpg", alt="")

    h3 The silicon negative
    
    p This silicon is made out of two components mixed in equal parts, and it cures in a few hours, although I let it rest for a day.
    video(src="pw_5.mp4" autoplay loop controls muted)

    p I begin to see that this feature will be complicated to replicate with this technique:
    img(src="pw_6.jpg", alt="")

    p The next day it's ready to be removed:
    img(src="pw_7.jpg", alt="")
    video(src="pw_8.mp4" autoplay controls loop muted)

    img(src="pw_9.jpg", alt="")

    p As foreseen, these slots were too thin for this technique. I didn't have time to order more silicon, so I took the learning and moved forward with the process.
    img(src="pw_10.jpg", alt="")

    h2 Casting with concrete
    h3 Dropping the material
    p I prep the containter box again to hold the mould in place and shape while the concrete is poured.
    img(src="pw_11.jpg", alt="")

    p Then it's about mixing the concrete with a bit of sand and water:
    video(src="pw_12.mp4" autoplay loop muted controls)
    
    p And finally applying it to the mould:
    img(src="pw_13.jpg", alt="")
    img(src="pw_14.jpg", alt="")

    h3 Removing the material
    p A day later the concrete is dry and ready to be removed:
    img(src="pw_15.jpg", alt="")
    img(src="pw_16.jpg", alt="")
    video(src="pw_17.mp4" autoplay loop muted controls)
    img(src="pw_18.jpg", alt="")
    img(src="pw_19.jpg", alt="")


    h2 Files
    ul
      li <a href="paperweight.stl">3D Model (STL)</a>
      li <a href="box.dxf">Container Box (AutoCAD DXF)</a>
