extends ../../layouts/main.pug

block main
  main
    h1 W14: Embedded Networking
    p I get to this one assignment very late in the game and still with heavy restrictions on Fab Lab access.
    p I have a Bluetooth module laying around and I will try to connect it to <a href="../W6">my Hello Fab Kit board</a> which I created for the <a href="../FP/">Final Project</a> and to my mobile device to send commands between them.

    h2 The connections
    h3 Hello Fab Kit Board
    img(src="hello_fabkit.jpg", alt="")
    img(src="connections.jpg", alt="")

    h3 On the mobile device
    p I'm using the free <a href="https://apps.apple.com/es/app/arduinoblue/id1340487989?l=en">Arduino Blue</a> app to connect to the Bluetooth module. 
    video(src="app.mp4" autoplay muted loop controls)


    h2 Integration
    p It turned out to be much simpler than I expected, but that is also because I learned (and suffered) a lot with serial bus comms on the <a href="../W12">Interface Programming assignment</a>
    video(src="commands.mp4" autoplay muted loop controls)