extends layouts/main.pug

block main
  main
    h1 About Me
    p Hi there and thanks for dropping by :)
    p Really quick (for now):
    ul
      li Currently: Indepdent consultant + University professor in User Experience
      li MBA in Digital Transformation + Masters in Strategic Knowledge Management
      li BA in Multimedia
      li 20+ years of experience in Innovation, designing digital products and services with international reac
      li Startups, corporations, agencies and consultin

    h2 Background
    p I've already done a few projects in what I would call <i>crafmanship prototyping</i>. I guess it's just a fancy way of saying hacking a few ideas together with whichever means available and a good deal of good old sweat.
    p Here's the modification and installation of one pick-up per string:
    img(src="images/gklp.jpg", alt="")

    p In this case, I installed an arduino-based MIDI controller:
    img(src="images/strat.jpg", alt="")

    p This is a full guitar hand-made from scratch:
    img(src="images/esish.jpg", alt="")


    h2 Approach
    p I approach Fab Academy as a means to <b>prototype as many ideas as I can around around the theme presented above.</b>, as well as aqcuiring new skills to flesh them out beyond the notebook.
    p To that extent, I foresee the final project taking shape as we advance through the program and I see how the learnings can be applied to my interests, by then doing self-contained micro-projects for each assignment. It's a somewhat similar approach to the one described in picture below (don't know who to credit it to!)
    img(src="images/process.png", alt="")
    p Similar to the process described above, there's an underlying theme that connects all products, but these are actually all different, not necessarily part of a bigger project.


    h1 Final project ideas
    p I have a number of ideas around the <b>creation and manipulation of music: instruments, effects (re-parametrizers, as a good friend liked to call them :), accesories and devices in general that enable new ways of approaching music composition and performance.</b>
    p In particular, I'm interested in moving forward the <b>expresiveness</b> available to the performer in now-classic instruments, like electric guitars, which haven't really changed much since their original concept, as well as <b>bringing HCD and HCI approaches</b> to the design and development of <b>modern computational musical devices</b>.</p>
    <p>Moreover, I'm particularly interested in moving my skills <b>from one-off, handmade products to semi-industrial, machine-made products</b>. I find that some of my ideas require a precision that is hard to achieve and/or replicate by hand</p>
    img(src="images/pedalboard.jpg", alt="")
    img(src="images/squares.jpg", alt="")
    img(src="images/switcher.jpg",alt="")
