extends layouts/main.pug

block main
  main
    h1 About Me
    p Hi there and thanks for dropping by :)
    p Really quick (for now):
    ul
      li Currently: Indepdent consultant + University professor in User Experience
      li MBA in Digital Transformation + Masters in Strategic Knowledge Management
      li BA in Multimedia
      li 20+ years of experience in Innovation, designing digital products and services with international reac
      li Startups, corporations, agencies and consultin

    h2 Background
    p I've already done a few projects in what I would call <i>crafmanship prototyping</i>. I guess it's just a fancy way of saying hacking a few ideas together with whichever means available and a good deal of good old sweat.
    p Here's the modification and installation of one pick-up per string:
    img(src="images/gklp.jpg", alt="")

    p In this case, I installed an arduino-based MIDI controller:
    img(src="images/strat.jpg", alt="")

    p This is a full guitar hand-made from scratch:
    img(src="images/esish.jpg", alt="")
    