doctype html
html(lang="en")

head
  meta(charset="utf-8")
  meta(content="IE=edge", http-equiv="X-UA-Compatible")
  meta(content="width=device-width, initial-scale=1", name="viewport")

  block title
    title  Rafael Rebolleda — Fab Academy 2020 Documentation

  // Google Fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Catamaran&display=swap")

  link(rel="stylesheet", href="css/main.css")

body 

  nav
    header
      img#avatar(src="images/rrm.jpg", alt="Rafael Rebolleda")
      ul
        li Rafael Rebolleda
        li ESNE + LEON
        li Madrid, Spain

      p.bio Human Centric Research & Innovation consultant and professor. Also looking for PhD opportunities!

    ol
      li: a(href="#") About me
      li: a(href="W1/") W1: Project Mgnt.
      li: a(href="W2/") W2: CAD
      li: a(href="W3/") W3: CCC
      li: a(href="W4/") W4: Electronic Prod.

  main
    h1 About Me
    p Hi there and thanks for dropping by :)
    p Really quick (for now):
    ul
      li Currently: Indepdent consultant + University professor in User Experience
      li MBA in Digital Transformation + Masters in Strategic Knowledge Management
      li BA in Multimedia
      li 20+ years of experience in Innovation, designing digital products and services with international reac
      li Startups, corporations, agencies and consultin

    h2 Background
    p I've already done a few projects in what I would call <i>crafmanship prototyping</i>. I guess it's just a fancy way of saying hacking a few ideas together with whichever means available and a good deal of good old sweat.
    p Here's the modification and installation of one pick-up per string:
    img(src="images/gklp.jpg", alt="")

    p In this case, I installed an arduino-based MIDI controller:
    img(src="images/strat.jpg", alt="")

    p This is a full guitar hand-made from scratch:
    img(src="images/esish.jpg", alt="")
    