extends ../../layouts/main.pug

block main
  main
    h1 Final Project
    h2 Summary Slide
    img(src="presentation.png", alt="")

    h2 Summary Video
    <iframe src="https://player.vimeo.com/video/446303444" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    h2 What does it do?
    p The Fab Light Paint is a machine that performs manual and automated light movements in a completely portable dark environment, suitable for long exposure photography through a small hole on the top. It also works great for videos and even small animations.
    
    h2 Who’s done what beforehand?
    p I've seen there have been some other projects around light painting in Fab Academy. For example <a href="http://archive.fabacademy.org/archives/2017/fablabhornafjordur/students/201/week11.html">this one</a> made during Fab Academy 2017 by Ana Cabral, Ola Mirecka and Birkir Thor:

    <iframe src="https://player.vimeo.com/video/213813915" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    p Or <a href="http://fab.cba.mit.edu/classes/863.17/Harvard/machines/index.html">this one</a>, which is somewhat similar:

    video(src="http://fab.cba.mit.edu/classes/863.17/Harvard/machines/photos/programming/14.mp4" loop autoplay muted)

    p Still, even if they are based on similar principles, the outcomes and very different.

    h2 What did you design?
    p I designed the board and its case, the box and the cover, the spinning frame, the gears and the user interface.

    h2 What materials and components were used?
    h3 The Control Panel
    ul
      li Black 3 mm plexiglas
      li Two SPST switches
      li Five normally closed push buttons 
      li One 10K potentiometer
      li One WS2812B RGB Programmable LED
      li Three red LEDs
      li Eight 10K Ω resistors
      li Three 220 Ω resistors
      li Solid core wire in different colors
      li 4 3x10 mm screws

    h3 The Spinning Frame
    ul
      li WS2812B RGB Programmable LED strip
      li Black 3 mm plexiglass for the gears
      li SM-S4306R Servo motor
      li Slip ring
      li PLA for the 3D printed mechanical adapter
      li 20 mm plywood

    h3 The board
    p (All surface mount components)
    ul 
      li Copper raw board
      li ATMEGA 328P—AU
      li One 8 MHz resonator
      li Two 6 mm push buttons
      li Two green LEDs
      li One 1uf Cap
      li Two .1uf Caps
      li One 10uf Cap
      li Two 10K Ω resistors 
      li Two 499 Ω resistors
      li 29 header pins (I mounted two additional "blind" ones to increase structural strength)

      
    h3 The box
    ul 
      li 10 mm Plywood
      li Red, Green and Blue sticky vinyl
      li Matte Black spray paint
      li White glue


    h2 Where did they come from?
    ul
      li Digikey
      li Amazon
      li Local hardware stores: AKI, Leroy Merlin, Bricodepot

    h2 How much did they cost?
    h2 What parts and systems were made?
    ul
      li The box
      li The control panel
      li The motor + gear system
      li The light system
      li The electronic board and connections

    h2 What processes were used?
    ul
      li <strong>2D & 3D Computer Aided Design</strong> with Eagle, Fusion360, AutoCAD & Shapr 3D.
      li <strong>Additive manufacturing</strong> for mechanical pieces
      li <strong>Substractive manufacturing</strong> for the wood panels, spinning grame and board milling.
      li <strong>Computer Controlled Cutting</strong> for the gears, board case and vinyl stickers
      li <strong>Embedded Programming</strong> with Arduino IDE


    h2 What questions were answered?

    
    h2 What worked? What didn’t?
    p Making the box and the gears were probably the most straightforward steps in the whole project.

    p The LP idea was simple and effective in theory, but in practice there was more "wobblyness" than anticipated, so it didn't work as reliably as expected. I think it can probably be refined with different approaches to work alright, but because of the COVID pandemic and limited Fab Lab access a decision was made to move in a different direction.

    p Soldering the board proved to be trickier in a different way than expected. For example, I though the ATMEGA would be the most difficult component to solder, and it ended up being the easiest. The resonator took  the doubtful privilege of being the hardest. I also had to rebuild a couple of tracks, which was a good learning to salvage an otherwise functioning board.

    p Finally, the original motor wasn't powerful enough, so I swapped it for the servo. At the beginning I was reluctant because I thought speed control was a key part of the machine, but after some thoughts and experiments, it turned out to be somewhat irrelevant. In hindsight, I should've gone with the servo from the get go.
    
    h2 How was it evaluated?
    p With spiral development in mind, I had two parallel tracks of evaluation: technical feasibily and functional experience for photographers.

    p Eventhough I consider myself a savvy enough photographer, I looped in a couple of photographer friends to bounce ideas from the final product and outcome perspective.

    p With these in mind, I would then try to validate technical feasibility:
    ul 
      li Do I have access to all the components and tools that I need?
      li Can I connect them and control them in a way that suits the project's needs, as a proof of concept?
      li Do I have different paths to move forward with the main challenges, so as not to be blocked?

    h2 What are the implications?    