extends ../../layouts/main.pug

block main
  main
    h1 Final Project
    h2 Summary Slide
    img(src="../../presentation.png", alt="")

    h2 Summary Video
    p <iframe src="https://player.vimeo.com/video/446303444" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    h3 What does it do?
    
    h3 Who’s done what beforehand?
    h3 What did you design?
    h3 What materials and components were used?
    h3 Where did they come from?
    h3 How much did they cost?
    h3 What parts and systems were made?
    h3 What processes were used?
    h3 What questions were answered?
    h3 What worked? What didn’t?
    h3 How was it evaluated?
    h3 What are the implications?    