extends ../../layouts/main.pug

block main
  main
    h1 Final Project
    h2 Summary Slide
    img(src="../presentation.png", alt="")

    h2 Summary Video
    p <iframe src="https://player.vimeo.com/video/446303444" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    h2 What does it do?
    p The Fab Light Paint is a machine that performs manual and automated light movements in a completely portable dark environment, suitable for long exposure photography through a small hole on the top. It also works great for videos and even small animations.
    
    h2 Who’s done what beforehand?
    
    h2 What did you design?
    p I designed the board and its case, the box and the cover, the spinning frame, the gears and the user interface.

    h2 What materials and components were used?
    h3 The Control Panel
    ul
      li Black 3 mm plexiglas
      li Two SPST switches
      li Five normally closed push buttons 
      li One 10K potentiometer
      li One WS2812B RGB Programmable LED
      li Three red LEDs
      li Eight 10K Ω resistors
      li Three 220 Ω resistors
      li Solid core wire in different colors
      li 4 3x10 mm screws

    h3 The Spinning Frame
    ul
      li Black 3 mm plexiglass for the gears
      li 

    h3 The box
    ul 
      li Plywood
      li Vinyl
      li White glue




    h2 Where did they come from?
    h2 How much did they cost?
    h2 What parts and systems were made?
    h2 What processes were used?
    h2 What questions were answered?
    h2 What worked? What didn’t?
    h2 How was it evaluated?
    h2 What are the implications?    