extends ../../layouts/main.pug

block main
  main
    h1 Final Project
    h2 Summary Slide
    img(src="slide.png", alt="")

    h2 Summary Video
    p <iframe src="https://player.vimeo.com/video/446303444" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
