extends ../../layouts/main.pug

block main
  main
    h1 Final Project
    h2 Summary Slide
    img(src="presentation.png", alt="")
    p Source file: <a href="http://fabacademy.org/2020/labs/esne/students/rafael-rebolleda/presentation.png">presentation.png</a>

    h2 Summary Video
    video(src="../presentation.mp4" poster="poster.jpg" controls)
    // <iframe src="https://player.vimeo.com/video/446303444" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    p Source file:  <a href="http://fabacademy.org/2020/labs/esne/students/rafael-rebolleda/presentation.mp4">presentation.mp4</a>

    h2 What does it do?
    p The Fab Light Paint is a machine that performs manual and automated light movements in a completely portable dark environment, suitable for long exposure photography through a small hole on the top. It also works great for videos and even small animations.
    
    h2 Who’s done what beforehand?
    p I've seen there have been some other projects around light painting in Fab Academy. For example <a href="http://archive.fabacademy.org/archives/2017/fablabhornafjordur/students/201/week11.html">this one</a> made during Fab Academy 2017 by Ana Cabral, Ola Mirecka and Birkir Thor:

    <iframe src="https://player.vimeo.com/video/213813915" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    p Or <a href="http://fab.cba.mit.edu/classes/863.17/Harvard/machines/index.html">this one</a>, which is somewhat similar:

    video(src="http://fab.cba.mit.edu/classes/863.17/Harvard/machines/photos/programming/14.mp4" loop autoplay muted)

    p Still, even if they are based on similar principles, the outcomes and very different.

    h2 What did you design?
    p I designed the board and its case, the box and the cover, the spinning frame, the gears and the user interface.

    h2 What materials and components were used?
    h3 The Control Panel
    ul
      li Black 3 mm plexiglas
      li Two SPST switches
      li Five normally closed push buttons 
      li One 10K potentiometer
      li One WS2812B RGB Programmable LED
      li Three red LEDs
      li Eight 10K Ω resistors
      li Three 220 Ω resistors
      li Solid core wire in different colors
      li Four 3x10 mm screws

    h3 The Spinning Frame
    ul
      li WS2812B RGB Programmable LED strip
      li Black 3 mm plexiglass for the gears
      li SM-S4306R Servo motor
      li Two Ball-bearings
      li Slip ring
      li PLA for the 3D printed mechanical adapter
      li 20 mm plywood

    h3 The board
    p (All surface mount components)
    ul 
      li Copper raw board
      li ATMEGA 328P—AU
      li One 8 MHz resonator
      li Two 6 mm push buttons
      li Two green LEDs
      li One 1uf Cap
      li Two .1uf Caps
      li One 10uf Cap
      li Two 10K Ω resistors 
      li Two 499 Ω resistors
      li 29 header pins (I mounted two additional "blind" ones to increase structural strength)
      li 3 mm black plexiglas for the case
      
    h3 The box
    ul 
      li 10 mm Plywood
      li Red, Green and Blue sticky vinyl
      li Matte Black spray paint
      li White glue

    h3 Bill of Materials
    table
      tr
        th Component
        th Quantity
        th Unit Price 
        th Total
      tr
        td 10 mm Plywood
        td 3
        td 4 €
        td 12 €
      tr
        td Vinyl roll
        td 3
        td 10,99 €
        td 32,97 €
      tr
        td Black spray paint
        td 1
        td 9,95 €
        td 9,95 €
      tr
        td Wood glue
        td 1
        td 2,45 €
        td 2,45 €
      tr
        td Programmable LED Strip
        td 1
        td 37,99 €
        td 37,99 €
      tr
        td Black 3mm plexiglass (60 x 50 cm)
        td 1
        td 21,15 €
        td 21,15 €
      tr
        td Servo Motor
        td 1
        td 10,79 €
        td 10,79 €
      tr
        td Ball Bearings
        td 2
        td 0,50 €
        td 1 €
      tr
        td Slip Ring
        td 1
        td 15,53 €
        td 15,53 €
      tr
        td PLA filament
        td 1 
        td 9,95 €
        td 9,95 €
      tr
        td ATMEGA 328P—AU SMD
        td 1 
        td 0,99 €
        td 0,99 €
      tr
        td 8 Mhz Resonator SMD
        td 1 
        td 0,12 €
        td 0,12 €
      tr
        td Push button SMD
        td 2 
        td 0,06 €
        td 0,12 €
      tr
        td Green SMD LED
        td 2 
        td  0,68 €
        td  1,36 €
      tr
        td 1uf SMD Capacitor
        td 1 
        td  0,17 €
        td  0,17 €
      tr
        td .1uf SMD Capacitor
        td 2 
        td  0,25 €
        td  0,50 €
      tr
        td 10uf SMD Capacitor
        td 1 
        td  0,15 €
        td  0,15 €
      tr
        td 10K Ω SMD Resistors
        td 2 
        td  0,026 €
        td  0,052 €
      tr
        td 499 Ω SMD Resistors
        td 2 
        td  0,026 €
        td  0,052 €
      tr
        td SMD Header Pins
        td 3 (10 positions)
        td  1 €
        td  3 €
      tr
        td Copper boards
        td 1 
        td  7,99 €
        td  7,99 €
      tr
        td SPST Switches
        td 2 
        td  2 €
        td  4  €
      tr
        td Normally closed buttons
        td 5 
        td  0,98 €
        td  4,9 €
      tr
        td 10K Potentiometer
        td 1 
        td  0,8 €
        td  0,8 €
      tr
        td 10K Ω Resistor
        td 8 
        td  0,91 €
        td  7,28 €
      tr
        td 220 Ω  Resistor
        td 3 
        td 0,18 €
        td 0,54 €
      tr
        td Wire (multiple colors)
        td 1 roll 
        td  10,89 €
        td  10,89 €
      tr
        td Total
        td 
        td  
        td  196,85 €

    h2 Where did they come from?
    ul
      li Digikey
      li Amazon
      li Local hardware stores: AKI, Leroy Merlin, Bricodepot

    h2 What parts and systems were made?
    ul
      li The box
      li The control panel
      li The motor + gear system
      li The light system
      li The electronic board and connections

    h2 What processes were used?
    ul
      li <strong>2D & 3D Computer Aided Design</strong> with Eagle, Fusion360, AutoCAD & Shapr 3D.
      li <strong>Additive manufacturing</strong> for mechanical pieces
      li <strong>Substractive manufacturing</strong> for the wood panels, spinning grame and board milling.
      li <strong>Computer Controlled Cutting</strong> for the gears, board case and vinyl stickers
      li <strong>Embedded Programming</strong> with Arduino IDE

    h2 What questions were answered?
    p An interesting one was whether the gear multiplication ratio would be enough given the servo rotating speed, and 3:1 worked fine. I also found out about the versatility of slip rings.
    p Photography wise, the useful focal length to the lights, the size of the hole and balance between useful brightness and not contaminating the environment were all parameters to tweak for optimal results. 
   
    h2 What worked? What didn’t?
    p Making the box and the gears were probably the most straightforward steps in the whole project.

    p The "LP-record" idea to communicate the frame with the board was simple and effective in theory, but in practice there was more "wobblyness" than anticipated, so it didn't work as reliably as expected. I think it can probably be refined with different approaches to work alright, but because of the COVID pandemic and limited Fab Lab access a decision was made to move in a different direction.

    p Soldering the board proved to be trickier in a different way than expected. For example, I though the ATMEGA would be the most difficult component to solder, and it ended up being the easiest. The resonator took the doubtful privilege of being the hardest. I also had to rebuild a couple of tracks, which was a good learning to salvage an otherwise functioning board.

    p Finally, the original motor wasn't powerful enough, so I swapped it for the servo. At the beginning I was reluctant because I thought speed control was a key part of the machine, but after some thoughts and experiments, it turned out to be somewhat irrelevant. In hindsight, I should've gone with the servo from the get go.
    
    h2 How was it evaluated?
    p With spiral development in mind, I had two parallel tracks of evaluation: technical feasibily and functional experience for photographers.

    p Eventhough I consider myself a savvy enough photographer, I looped in a couple of photographer friends to bounce ideas from the final product and outcome perspective.

    p With these in mind, I would then try to validate technical feasibility:
    ul 
      li Do I have access to all the components and tools that I need?
      li Can I connect them and control them in a way that suits the project's needs, as a proof of concept?
      li Do I have different paths to move forward with the main challenges, so as not to be blocked?

    h2 What are the implications?
    p The main purpose for the device is to serve hobby-photographers, and to help them experiment in a controlled, portable dark environment, which is difficult to have at hand when most of us leave in small appartments.
    p Still, I've already had petitions from pro photographers and motion designers to use it in their projects, to create backdrops and other interesting light effects to complement their projects.
    p Another completely different angle is its use as a toy for kids. It's very engaing because it's easy for kids to grasp how it works and fun to operate, it also serves as a tool to discuss interesting topics like physics, photography, programming, and well... making stuff!

    h2 Action Plan
    p Pictured below is the timeline of the project. Everything was done in roughly 4 weeks (3 work weeks, really, as the first weas very much discussing viable options to unblock the situation). It was really challenging because we had very limited access to the lab and family / work situation was also complicated (I personally had a hard deadline on Aug 7th) and didn't allow for much time or flexibility, but it was a great experience nonetheless :)
    img(src="action_plan.jpg", alt="")

    h2 Files
    ul
      li <a href="../W6/hello_fabkit.zip">Hello Fab Kit Eagle Project</a>
      li <a href="hello_fabkit_case.dxf">Hello Fab Kit Case</a>
      li <a href="../W7/box.dxf">Machine Wood Box</a>
      li <a href="spinning_frame.dxf">Spinning Frame</a>
      li <a href="fixture.stl">Frame/Bearing/Gear Fixture</a>
      li <a href="gears.dxf">Gears</a>
      li <a href="control_panel.dxf">Control Panel</a>
      li <a href="Control_Panel.zip">Arduino Project</a>

