extends ../../layouts/main.pug

block main
  main
    h1 W3: Computer Controlled Cutting

    h2 The laser cutter
    P Here's the laser cutter we have on the lab.
    img(src="laser1.jpg", alt="")

    h2 The Comb
    p Alright... so back to Fusion360 to wrestle parametric design (still complete gibberish to me). First, I created a rough shape by just joining the dots
    img(src="comb1.jpg", alt="")

    p In the next step I manually gave them constraints and measures
    img(src="comb2.jpg", alt="")

    p Finally, I move all cut dimensions as paramenters that depend on the material depth, in this case 2mm cardboard
    img(src="comb3.jpg", alt="")

    p This is the cutting of two combs to test what's the best fit and underdstand kerf value.
    img(src="laser4.jpg", alt="")

    p These are the values I tried
    img(src="laser5.jpg", alt="")

    p The best match for this material is at 1,7mm, and measuring the actual cuts, we know the ketf value is 0.2mm
    img(src="laser6.jpg", alt="")

    h2 A very basic construction kit
    p Now that I have the measure, my goal is to learn:
    ul
      li How to apply parametric design with the material and machine in mind
      li Learn how to use mirroring in CAD
      li Learn how to use patterns in CAD

    p I modeled two pieces in Fusion360, a simple one and another to be bent. Both use constraints and parameters extensively.
    img(src="CAD1.jpg", alt="")
    img(src="CAD2.jpg", alt="")

    p Next, we need to import that inthe laser cutter software and adjust laser settings:
    img(src="settings.jpg", alt="")

    p Here we can see the actual cutting:
    video(src="cutting.mp4", type="video/mp4", controls="true")

    p And this is a very basic assembly of the kit!
    img(src="kit.jpg", alt="")



