extends ../../layouts/main.pug

block main
  main
    h1 W3: Computer Controlled Cutting

    h2 The laser cutter
    P Here's the laser cutter we have on the lab.
    img(src="laser1.jpg", alt="")

    h2 The Comb
    p Alright... so back to Fusion360 to wrestle parametric design (still complete gibberish to me). First, I created a rough shape by just joining the dots
    img(src="comb1.jpg", alt="")

    p In the next step I manually gave them constraints and measures
    img(src="comb2.jpg", alt="")

    p Finally, I move all cut dimensions as paramenters that depend on the material depth, in this case 2mm cardboard. In the following table we can see there's one user parameter with name "material" which has a value of "2mm". Below, all the dimensions are specified as multiples or operations over that one "material" variable.
    img(src="comb3.jpg", alt="")

    p This is the cutting of two combs to test what's the best fit and underdstand kerf value.
    img(src="laser4.jpg", alt="")

    p These are the values I tried
    img(src="laser5.jpg", alt="")

    p The best match for this material is at 1,7mm, and measuring the actual cuts, we know the ketf value is 0.2mm
    img(src="laser6.jpg", alt="")

    h2 A very basic construction kit
    p Now that I have the measure, my goal is to learn:
    ul
      li How to apply parametric design with the material and machine in mind
      li Learn how to use mirroring in CAD
      li Learn how to use patterns in CAD

    p I modeled two pieces in Fusion360, a simple one and another to be bent. Both use constraints and parameters extensively.
    img(src="CAD1.jpg", alt="")
    img(src="CAD2.jpg", alt="")

    p Next, we need to import that inthe laser cutter software and adjust laser settings:
    img(src="settings.jpg", alt="")

    p Here we can see the actual cutting:
    video(src="cutting.mp4", type="video/mp4", controls="true")

    p And this is a very basic assembly of the kit!
    img(src="kit.jpg", alt="")

    h2 Final Project Designs
    
    h3 Gears
    p I designed the gears with the <a href="https://geargenerator.com">Gear Generatos</a> tool, which is very convenient to test different sizes and ratios. The files can then be downloaded for further editing, in this case in AutoCAD.
    img(src="../DEV/gears_2.jpg", alt="")

    p In AutoCAD, I cleaned the files from some labeling generates by the tool and added the hole to fit the fixture that comes with the servo motor:
    img(src="../W2/gears.jpg", alt="")

    p This is a little snapshot of the cutting process:
    video(src="gears_1.mp4" autoplay controls loop)

    p Gears were made of two layers of 3mm plexiglass, so I joined them by applying chloroform to their surface and then keeping them close together for a few seconds.
    img(src="gears_2.jpg", alt="")

    p This is an approximate representation of their final placing in the machine:
    img(src="gears_3.jpg", alt="")

    h3 Front control panel
    p This is a relatively simple piece with a few holes to screw it to the machine and to mount the pots, switches and LEDs. I made this in <a href="https://designer.gravit.io/">Gravit Designer</a>, sort of an Illustrator in the cloud.
    img(src="../W2/control_panel.jpg", alt="")
    video(src="control_panel.mp4" autoplay controls loop)

    p And this is the final result:
    img(src="control_panel.jpg", alt="")

    h3 Hello Fab Kit box
    p This was designed as a simple box to hold the Hello Fab Kit for final installation. Hence it has couple of tongues to screw onto the machine, access to the pins on the sides, and holes for the LEDs and buttons. It was made in AutoCAD and laser cut in 3mm plexiglass, stuck together by melting with chloroform.

    img(src="../W2/hello_box.jpg", alt="")
    img(src="hello_fabkit_box_1.jpg", alt="")
    img(src="hello_fabkit_box_2.jpg", alt="")
    video(src="hello_fabkit_box_3.mp4" autoplay controls loop)

    h3 Vinyl cutter
    p I used the vinyl cutter to add some decoration to the project, in the form of a big sticker with the Fab logo, which was <a href="https://upload.wikimedia.org/wikipedia/commons/d/d2/Fab_Lab_logo.svg">readily available on Wikipedia</a>div

    p I imported it in Illustrator and removed everything but one piece of the logo. The Roland is a bit picky about outline size and coordinates.
    img(src="vinyl_prep.jpg", alt="")

    p Then I print (cut) the same piece in three different rolls:
    video(src="vinyl_cutting.mp4" autoplay controls loop)

    p Then it's just about using the transfer paper and glueing it to the wood:
    img(src="vinyl_1.jpg", alt="")
    img(src="vinyl_2.jpg", alt="")
    img(src="vinyl_3.jpg", alt="")
    img(src="vinyl_4.jpg", alt="")

    h2 Files
    ul
      li <a href="comb.dxf">Comb</a>
      li <a href="kit.dxf">Construction Kit</a>
      li <a href="../FP/hello_fabkit_case.dxf">Hello Fab Kit Case</a>
      li <a href="../FP/gears.dxf">Gears</a>
      li <a href="../W2/control_panel.svg">Control Panel</a>




