extends ../../layouts/main.pug

block main
  main
    h1 W8: Embedded Programming
    h2 The idea
    p As mentioned in the <a href="../W6/">Electronics Design</a> assignment, I built a "Hello Fab Kit board" so I could make the most of a single board due to restrictions in the use of the Fab Lab because of the pandemic.

    h3 The chip
    p I'm using the ATMEGA 328P. I didn't so much <i>chose</i> this chip; rather, I had one at hand when the pandemic had restricted access to the Fab Lab amd slowed down online purchases. 
    
    p On the bright side, its use is very well documented and that would come in very handy to get up to speed quickly. 

    p I found <a href="http://ww1.microchip.com/downloads/en/DeviceDoc/Atmel-7810-Automotive-Microcontrollers-ATmega328P_Datasheet.pdf">this datasheet</a> from Atmel. I've got to say at first I was fairly impressed with the sheer length of it (and apparently it's not particularly long). It's amazing to see how consumer products have been simplified for non expert use. 

    p It was great to finally see firsthand where many terms I've heard come from, like "watchdog" or "interrupt".

    p For a quick reference, I ended up coming back to this pinout diagram:
    img(src="../W6/pinout.jpg", alt="")


    h3 Programming Tests

    p In the <a href="../W6/">Electronics Design</a> assignment, I ended up burning the bootloader so it could be programmed via the Arduino IDE. Once that is done, I'll be using the following settings:
    img(src="ep_0.jpg", alt="")
    
    p Once this setup was running, I tried a basic sketch to test both LEDs, based on the "Blink" example provided by Arduino, but tweaked for the right pins onf my board:
    video(src="../W6/double_blink.mp4" autoplay loop controls muted)

    p Here's another one to test the button, again based on the builit-in Arduino example of the same name:
    video(src="ep_1.mp4" autoplay loop controls muted)

    h2 Files
    ul
      li <a href="double_blink.zip">Double Blink</a>
      li <a href="button.zip">Button</a>






