extends ../../layouts/main.pug

block main
  main
    h1 W9: Input Devices

    h2 Analog sensor

    p For this assignment I tried the classic HC-SR04 ultrasound sensor. It works  by sending a sound pulse and listening back for the echo. Then it's a matter of doing the math with the speed of sound.

    p The one thing I found is that it's a little finicky with voltage, so working on 3.3V produced somewhat inconsistent results, so I eneded up powering the sensor independently.

    video(src="ultrasound_1.mp4" autoplay loop mute controls)

    h2 Input devices for the final project

    h3 External button
    p My first approach was to grab one of the push buttons I planned on using for the <a href="../FP/">Final Project's</a> control panel, and quickly test it. It's just basically the same sketch used in <a href="../W8/">Embedded Programming</a> but changing the pin number.

    video(src="ext_button.mp4" autoplay loop mute controls)
    
    h3 The Control Panel
    p Like many others, bacuase of access and purchasing constraints due to the pandemic, I had to make do with stuff I had laying around to design a control panel for the <a href="../FP/">Final Project's</a> machine.
    img(src="control_panel.jpg", alt="")
    p  The control panel contains a number of digital and analog inputs and <a href="../W11/">outputs</a>:
    ul
      li [IN] Two switches
      li [IN]  Five push buttons
      li [IN] One potentiometer
      li [OUT] Thre LEDs
      li [OUT] One Neopixel

    p All inputs make use of a resistor to make the reading more stable:
    img(src="resistors.jpg", alt="")
    
    p In the following examples I'm using the switches just to toggle an LED:
    video(src="control_panel_1.mp4" autoplay loop mute controls)
    video(src="control_panel_3.mp4" autoplay loop mute controls)
    
    p In this case the potentiometer is controlling the delay between LED flashes
    video(src="control_panel_2.mp4" autoplay loop mute controls)


