extends ../../layouts/main.pug

block main
  main
    h1 Project Development
    p These are the initial high-level thoughts about the project development. I foresee these will change rapidly in time, as it often happens as we learsn and, well, things happen :)

    h2 Spiral 1: Ideation
    ol.checklist 
      li.done Pitch the projects
      li.done Learn from other projects in Fab Academy and elsewhere
      li.done Look for potential challenges
      li.done Check the availability of initial components
    
    img(src="../W1/box.jpg", alt="")
    h3 Potential Challenges
    p The main challenge seems to be to pass information and power through the spinning axis, both in between circles and down to the main board after the main motor.

    p We've got a couple of ideas of how to go about it, based on good old LPs.
    img(src="LP1.jpg", alt="")
    img(src="LP2.jpg", alt="")

    p We've also given some thought on how to manufacture some of these pieces with a combinations of 3D printing, small ball bearings and a few  hacks:
    img(src="rings.jpg", alt="")

    p It also seems these devices are <a href="https://www.adafruit.com/product/775">also available</a> (d'oh), so it might be worth exploring the differences between the approaches.

    img(src="https://cdn-shop.adafruit.com/970x728/775-01.jpg", alt="")

    
    h2 Spiral 2: Proof of concept
    ol.checklist 
      li.done Design and build a FabKit
      li.done Connect the LEDs and the motor
      li.done Design a simple program to test control of all components
    
    p The cornerstone of the project is the FabKit that will control all input and output, so this is where I'll put my initial efforts.

    h3 Week Assignments used for the project
    ul
      li: <a href="../W6">W6: Electronics Design</a>
      li Output
    img(src="fabkit.jpg", alt="")
    video(src="test_pixels.mp4" autplay muted controls loop)
    video(src="test_motor.mp4" autplay muted controls loop)

    h2 Spiral 3: Design, build and test basic components
    ol.checklist 
      li.done Design and build the box
      li.done Design and build the main circle
      li.done Design and build gears
      li.done Test the motor speed and torque

    h3 Week Assignments used for the project
    ul
      li: <a href="../W2">W2: Computer Aided Design</a>
      li: <a href="../W3">W6: Computer Controlled Cutting</a>
      li: <a href="../W6">W6: Computer Controlled Machining</a>

    h3 The box
    p This was a fairly easy process, which can be seen in more detail in the <a href="../W6">W6: Computer Controlled Machining</a> assignment.
    video(src="../W7/machining.mp4" autoplay mute controls loop)
    img(src="../W7/assembled.jpg", alt="")

    h3 The main circle
    p A fairly straightforward process, I tried a couple different designs:
    img(src="circle_1.jpg", alt="")
    video(src="circle_machinning_1.mp4" autoplay muted loop)
    p It's super thing a light. However, I may do another one with a 15 mm stock, so drilling holes is less risky.
    img(src="circle_2.jpg", alt="")
    p We also installed a bearing in the base of the box as part of the mechanical design.
    img(src="bearing.jpg", alt="")
    p On eisseu though is that the depth of the box is too shallow for a mobile camera to see the whole ring. It's just too close.
    img(src="circle_3.jpg", alt="")
    p Therefore, I need to reconsider perspective and point of shooting. Perhaps even the shape itself... maybe a circle is not the best option. In fact, I ended giving it some thought and came up with better shaped for the final outcome:
    img(src="shapes.jpg", alt="")

    h3 The gears
    p I want to multiply the motor's rpm, so that means the motor needs a big gear and the axis that's connected to the circle will have a small one.
    img(src="gears_1.jpg", alt="")

    p I used <a href="geargenerator.com">geargenerator.com</a> to create the gears and download them as DXF for further procesing before going to laser cut.
    img(src="gears_2.jpg", alt="")

    p Gears are laser-cut in two 3mm plexiglas, which are then bound together with Chloroform:
    img(src="gears_3.jpg", alt="")


    h3 The motor
    p The motor I was using so far, the classic 8BYJ-48 turns out to have faily slow rpms and not much torque, at least for my purposes:
    video(src="motor_1.mp4" autoplay muted loop)

    p After asking and looking around for a bit, I settled on the a continuous servo motor. It doesn't have speed control, but it has much more torque, the latter being more relevant for me than the former. Initial tests were promising:
    video(src="motor_2.mp4" autoplay muted loop)

    p It seems the pieces were coming together :)

    h2 Spiral 4: First attempt at putting everything together
    h3 
    ol.checklist 
      li.scrapped Communicate with the board over one spinning axis
      li.scrapped Add some simple interface elements to control the machine
      li.scrapped Consider adding a second, free spinning circle inside
      li.done Design the interface

    p This turned out to be a spiral full of failures and hard learnings. With time running out, some decisions will need to be made.

    h3 The LP tracks
    p With the motor and the lights testes out, I though it'd be a piece of cake to set up the "LP" tracks to communicate over the axis. Sure enough, building the board was easy enough.
    video(src="tracks_1.mp4" autoplay muted loop)
    
    p Setting them up in the machine was easy enough. Here it is in action with the new shape and hooked to the servo through the gears:
    video(src="tracks_2.mp4" autoplay muted loop)

    p I though setting the tracks to communicate with the board would be an easy part in the whole project, but it ended up being pretty complicated, to the point of resulting unsuable.

    p I did a first hand test. You can see it sort of looks OK:
    video(src="tracks_3.mp4" autoplay muted loop)

    p In praxtice, however, connection is very fiddly. It works <em>most</em> of the time, but it fails enough times to not be usable.
    p I design and implemented different approaches, but all failed differently:
    img(src="tracks_4.jpg", alt="")
    img(src="tracks_5.jpg", alt="")

    p I also tried different approachs on the LP itself, with cables both on top and directly on the track. Most worked most of the time, but none worked reliably. 
    img(src="tracks_6.jpg", alt="")

    p All in all, this was a big set back, and with time running out, we dieced to resort to the slip ring I had as backup. 
    
    h3 The Plan B
    p This wll require a different, wider shape, with different seating, rebuidling the gear socket and 3D printing the pass-through transmission, and probably many more things.
    p Here's an idea of how it should work:
    img(src="slipring_1.jpg", alt="")

    p This is quite a set back in the planning, which means I'll probably have to drop the inner ring. I'm hoping to still get good shots out of it :)


    h3 Iteration 5
    ul 
      li Put everything together
      li Create and experiment with different light and movement programs
      li Add information and decoration stickers
      li Bluetooth Networking

    h2 In relation to the assignments
    p In general terms, these are the main parts of the project machine and how they relate to the relevant assignments. Of course other topics will impact the project too :)

    h3 Computer Aided Design
    ul
      li Try some new 3D software
      li Model de box
      li Model smaller pieces (gears, washers, strips, etc.)

    h3 Computer Controlled Cutting
    ul
      li Produce smaller pieces like gears
      li Vynil stickers for the control panel
      li Decorative engravings and stickers

    h3 3D printing
    ul
      li Produce supporting pieces to hold the machine
      li Produce smaller mechanical pieces

    h3 Electronics Design
    ul
      li Try different electronics design softwares
      li Design and build a custom FabKit that will be the brain of the machine

    h3 Computer Controlled Machining
    ul
      li Produce the box that will hold the machine

    h3 Embedded Programming
    ul
      li Programming the FabKit for the machine's purposes

    h3 input Devices
    ul
      li Create the physical interface for the machine to select different programs, turn on and off strips of leds and manually spin it.

    h3 Output Devices
    ul
      li Feedback from the interface to the user
      li Motor
      li LEDs

    h3 Moulding and Casting
    ul
      li Create custom knobs for the potentiometers in the interface

    h3 Embedded Network and Communications
    ul
      li Interface with neopixels
      li Interface with the motor
      li Interface with the machine over Bluetooth

    h3 Interface & applicacion programming
    ul
      li Create a digital UI for the machine

    h3 Machine Design
    ul
      li The light-painting machine described above :)
