extends ../../layouts/main.pug

block main
  main
    h1 Project Development

    p These are the initial high-level thoughts about the project development. I foresee these will change rapidly in time, as it often happens as we learn and, well, things happen :)

    h2 Spiral 1: Ideation
    ol.checklist 
      li.done Pitch the projects
      li.done Learn from other projects in Fab Academy and elsewhere
      li.done Look for potential challenges
      li.done Check the availability of initial components
    
    img(src="../W1/box.jpg", alt="")
    h3 Potential Challenges
    p The main challenge seems to be to pass information and power through the spinning axis, both in between circles and down to the main board after the main motor.

    p We've got a couple of ideas of how to go about it, based on good old LP-records.
    img(src="LP1.jpg", alt="")
    img(src="LP2.jpg", alt="")

    p We've also given some thought on how to manufacture some of these pieces with a combinations of 3D printing, small ball bearings and a few hacks:
    img(src="rings.jpg", alt="")

    p It also seems these devices are <a href="https://www.adafruit.com/product/775">also available</a> (d'oh), so it might be worth exploring the differences between the approaches.

    img(src="https://cdn-shop.adafruit.com/970x728/775-01.jpg", alt="")

    h3 In relation to the assignments
    p In general terms, these are the main parts of the project machine and how they relate to the relevant assignments. Of course other topics will impact the project too :)

    h4 Computer Aided Design
    ul
      li Try some new 3D software
      li Model de box
      li Model smaller pieces (gears, washers, strips, etc.)

    h4 Computer Controlled Cutting
    ul
      li Produce smaller pieces like gears
      li Produce board box
      li Produce Control Panel support
      li Decorative engravings and stickers

    h4 3D printing
    ul
      li Produce supporting pieces to hold the machine
      li Produce smaller mechanical pieces

    h4 Electronics Design
    ul
      li Design and build a custom FabKit that will be the brain of the machine

    h4 Computer Controlled Machining
    ul
      li Produce the box that will hold the machine
      li Produce the spinning artifact
      li Produce other smaller, suppporting pieces

    h4 Embedded Programming
    ul
      li Programming the User Interface
      li Programming the FabKit for the machine's purposes

    h4 input Devices
    ul
      li Create the physical interface for the machine to select different programs, manipulate the strip of LEDs and manually spin it.

    h4 Output Devices
    ul
      li Feedback from the interface to the user
      li Servo motor
      li LEDs

    h4 Mechanical & Machine Design
    ul
      li The light-painting machine described above :)
    
    h2 Spiral 2: Proof of concept
    ol.checklist 
      li.done Design and build a FabKit
      li.done Connect the LEDs and the motor
      li.done Design a simple program to test control of all components
    
    p The cornerstone of the project is the FabKit that will control all input and output, so this is where I'll put my initial efforts.

    h3 Week Assignments used for the project
    ul
      li: <a href="../W6">W6: Electronics Design</a>
      li <a href="../W11">W11: Output</a>
    img(src="fabkit.jpg", alt="")
    video(src="test_pixels.mp4", autoplay muted controls loop)
    video(src="test_motor.mp4", autoplay muted controls loop)

    h2 Spiral 3: Design, build and test basic components
    ol.checklist 
      li.done Design and build the box
      li.done Design and build the main circle
      li.done Design and build gears
      li.done Test the motor speed and torque

    h3 Week Assignments used for the project
    ul
      li: <a href="../W2">W2: Computer Aided Design</a>
      li: <a href="../W3">W6: Computer Controlled Cutting</a>
      li: <a href="../W5">W5: 3D Printing</a>
      li: <a href="../W7">W7: Computer Controlled Machining</a>

    h3 The box
    p This was a fairly easy process, which can be seen in more detail in the <a href="../W6">W6: Computer Controlled Machining</a> assignment.
    video(src="../W7/machining.mp4", autoplay muted controls loop)
    img(src="../W7/assembled.jpg", alt="")

    h3 The main circle
    p A fairly straightforward process, I tried a couple different designs:
    img(src="circle_1.jpg", alt="")
    video(src="circle_machinning_1.mp4", autoplay muted controls loop)
    p It's super thin and light. However, I may do another one with a 15 mm stock, so drilling holes is less risky.
    img(src="circle_2.jpg", alt="")
    
    p We also installed a bearing in the base of the box as part of the mechanical design.
    img(src="bearing.jpg", alt="")
    p On issue though is that the depth of the box is too shallow for a mobile camera to see the whole ring. It's just too close.
    img(src="circle_3.jpg", alt="")
    p Therefore, I need to reconsider perspective and point of shooting. Perhaps even the shape itself... maybe a circle is not the best option. In fact, I ended giving it some thought and came up with better shaped for the final outcome:
    img(src="shapes.jpg", alt="")

    h3 The gears
    p I want to multiply the motor's rpm, so that means the motor needs a big gear and the axis that's connected to the circle will have a small one.
    img(src="gears_1.jpg", alt="")

    p I used <a href="geargenerator.com">geargenerator.com</a> to create the gears and download them as DXF for further procesing before going to laser cut.
    img(src="gears_2.jpg", alt="")

    p Gears are laser-cut in two 3mm plexiglas, which are then bound together with chloroform:
    img(src="gears_3.jpg", alt="")


    h3 The motor
    p The motor I was using so far, the classic 8BYJ-48 turns out to have faily slow rpms and not much torque, at least for my purposes:
    video(src="motor_1.mp4" autoplay muted controls loop)

    p After asking and looking around for a bit, I settled on the a continuous servo motor. It doesn't have speed control, but it has much more torque, the latter being more relevant for me than the former. Initial tests were promising:
    video(src="motor_2.mp4" autoplay muted controls loop)

    p It seems the pieces were coming together :)

    h2 Spiral 4: First attempt at putting everything together
    h3 
    ol.checklist 
      li.scrapped Communicate with the board over one spinning axis
      li.scrapped Add some simple interface elements to control the machine
      li.scrapped Consider adding a second, free spinning circle inside
      li.done Design the interface

    h3 Week Assignments used for the project
    ul
      li: <a href="../W2">W2: Computer Aided Design</a>
      li: <a href="../W3">W3: Computer Controlled Cutting</a>
      li: <a href="../W5">W5: 3D Printing</a>
      li: <a href="../W7">W6: Computer Controlled Machining</a>

    p This turned out to be a spiral full of failures and hard learnings. With time running out, some decisions will need to be made.

    h3 The LP tracks
    p With the motor and the lights testes out, I though it'd be a piece of cake to set up the "LP" tracks to communicate over the axis. Sure enough, building the board was easy enough.
    video(src="tracks_1.mp4" autoplay muted controls loop)
    
    p Setting them up in the machine was also easy. Here it is in action with the new shape and hooked to the servo through the gears:
    video(src="tracks_2.mp4" autoplay muted controls loop)

    p I though setting the tracks to communicate with the board would be an easy part in the whole project, but it ended up being pretty complicated, to the point of resulting unusable.

    p I did a hand operated test. You can see it sort of looks OK:
    video(src="tracks_3.mp4" autoplay muted controls loop)

    p In practice, however, connection is very fiddly. It works <em>most</em> of the time, but it fails enough times to not be usable.
    p I design and implemented different approaches, but all failed differently:
    img(src="tracks_4.jpg", alt="")
    img(src="tracks_5.jpg", alt="")

    p I also tried different approaches on the LP itself, with cables both on top and directly on the track. Most worked most of the time, but none worked reliably. 
    img(src="tracks_6.jpg", alt="")

    p All in all, this was a big set back, and with time running out, we decided to resort to the slip ring I had as backup. 
    
    h3 The Plan B
    p This will require a different, wider shape, with different seating, rebuidling the gear socket and 3D printing the pass-through transmission, and probably many more things.
    p Here's an idea of how it should work:
    img(src="slipring_1.jpg", alt="")

    p This is quite a set back in the planning, which means I'll probably have to drop the inner ring. I'm hoping to still get good shots out of it :)

    p This is a new piece modeled in CAD:
    img(src="fixture_1.jpg", alt="")

    p And here's the final outcome: 
    img(src="fixture_2.jpg", alt="")

    p And here it is in action:
    video(src="fixture_3.mp4" autoplay muted controls loop)

    p We're back on track!

    p In the meantime, this is how I'm thinking about the interface:
    img(src="interface_1.jpg", alt="")

    p I also started painting the interior elements in black:
    img(src="black.jpg", alt="")

    h2 Spiral 5
    ol.checklist 
      li.done Communicate with the board over one spinning axis
      li.done Add some simple interface elements to control the machine
      li.done Put everything together
      li.done Create and experiment with different light and movement programs
      li.done Add information and decoration stickers

    h3 Week Assignments used for the project
    ul
      li <a href="../W2">W2: Computer Aided Design</a>
      li <a href="../W3">W3: Computer Controlled Cutting</a>
      li <a href="../W7">W7: Computer Controlled Machining</a>
      li <a href="../W8">W8: Embedded Programming</a>
      li <a href="../W9">W9: Input Devices</a>
      li <a href="../W11">W11: Output Devices</a>
      li <a href="../W17">W17: Mechanical & Machine Design</a>


    h3 Finishing the ring
    p I cut the strip of neopixels in three different segments and linked them together. I had to do it twice because I mess up with the IN/OUT order for the strips, which is very relevant! Used black tape and black cable all over.
    img(src="circle_4.jpg", alt="")
    img(src="circle_5.jpg", alt="")
    video(src="circle_6.mp4" autoplay muted controls loop)

    h3 Building the User Interface
    p I run some tests of individual componentes
    video(src="connections_2.mp4" autoplay muted controls loop)

    p Following up on the design shown above, I cut a simple piece of black plexiglass to mount the buttons, pots and switches and connected all common grounds. as well as adding pull_up resistors:
    img(src="interface_2.jpg", alt="")
    img(src="interface_3.jpg", alt="")

    p Made some quick and dirty connections to test the UI
    img(src="connections_3.jpg", alt="")

    p In the <a href="../W9">Input</a> and <a href="../W11">Output</a> assignments I go in more detail about how it works, but these are a couple of examples:
    video(src="interface_4.mp4", autoplay muted controls loop)
    video(src="interface_5.mp4", autoplay muted controls loop)

    h3 Adding a little decoration
    p I thoought I'd add some colour by means of the FAB logo, so I cut it in vinyl:
    img(src="vinyl_1.jpg", alt="")

    p I also added four rails to prevent the top case from moving:
    img(src="stoppers.jpg", alt="")

    h3 Integrating the electronics
    p As seen above, I also made a plexiglass case for the <a href="../W6">Hello Fabkit</a> board so I could install it underneath the <a href="../W17">machine</a>:
    img(src="fabkit_box.jpg", alt="")

    p These are the I/O connections:
    img(src="connections_1.jpg", alt="")
    img(src="connections_4.jpg", alt="")

    h2 The Fab Light Paint Machine
    img(src="hero_shot.jpg", alt="")

    h3 A few sample videos:
    video(src="example_1.mp4" autoplay muted controls loop)
    video(src="example_2.mp4" autoplay muted controls loop)

    h3 A few sample stills:
    img(src="examples.jpg", alt="")

    h2 Project Timeline
    p I thought I'd share some thoughts in retrospective, since it was such a weird time to go through Fab Academy. Below is a timeline of how the project unfolded:
    img(src="../FP/action_plan.jpg", alt="")

    p Obviously, I started very late. Because of the pandemic, we were confined for a great deal of the duration of the Fab Academy, so that meant no access to the lab. Later on we had a bit of mobility, but the university was closed anyway, so it took a long time to get a window of (limited) work.

    p When that window opened, I talked with my instructor about different options to move forward with the project and all assignments, and we came up with a new final project that covered as many assignments as possible, including the machine, and seemd feasable with limited access to the lab (so I could do some work at home) and also with somewhat easy to buy components and materials.

    p I had planned (or hoped, really) to finish around a week earlier, in time for a final project presentation still in July, but a number of project setbacks and personal circumstances (time off to look after the kids and my elders) made that impossible. 

    p As seen in the timeline, electronics design and production proved to be the most challenging aspect by far. It is the topic I've poured on more study and work of them all.

    p Other things required quite some work and trying out different designs, like the gears or the fixture to the frame, but weren't as initially defying as electronics design and production, for me anyway.

    p Other than that, I had quite a bit of a set back with the initial design to communicate the board with the frame (as described above in Spiral 4), but came up with a workaround which also led to unexpected yet interesting pieces of work. It felt frustrating at the time, and it felt like it took way more time than it actually did "physically".

    p That also has to do with the fact that I worked on the project many nights and weekends that I don't think I would have normally done had it been a "regular" year, so when seeing the timeline it needs to be considered that many of the days depicted there were <i>very</i> long in order to meet the deadlines.

    p Other things ended up being easier than I expected, like input / output or embedded programming.

    p All in all, I'd say the "worst" effect of the pandemic in my personal circumstances and project has been the limitation to try different things just to experiment, and also expand the options to try to solve setbacks. There were quite a few occassions where I just had to say "I don't have the time for more tries or approaches, I'll have to simplify and go this way". On the one hand it's sad, but on the other I think that's how "real life" projects work many times, so learning to make compromises to move forward is also a great learning.

    p In any case, working hard also means great joy and pride in the experience :)


    h2 Video Summary
    video(src="../presentation.mp4" poster="../FP/poster.jpg" controls)
    // <iframe src="https://player.vimeo.com/video/446303444" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>


    